In [1]:
import pandas as pd

In [52]:
toronto_profile_csvpath = "Resources/neighbourhood-profiles-2016-csv.csv"

toronto_2016_raw_df = pd.read_csv(toronto_profile_csvpath)
toronto_2016_raw_df.head(5)

,_id,Category,Topic,Data Source,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
0,1,Neighbourhood Information,Neighbourhood Information,City of Toronto,Neighbourhood Number,NaN,129,128,20,95,...,37,7,137,64,60,94,100,97,27,31
1,2,Neighbourhood Information,Neighbourhood Information,City of Toronto,TSNS2020 Designation,NaN,No Designation,No Designation,No Designation,No Designation,...,No Designation,No Designation,NIA,No Designation,No Designation,No Designation,No Designation,No Designation,NIA,Emerging Neighbourhood
2,3,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2016","2,731,571","29,113","23,757","12,054","30,526",...,"16,936","22,156","53,485","12,541","7,865","14,349","11,817","12,528","27,593","14,804"
3,4,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2011","2,615,060","30,279","21,988","11,904","29,177",...,"15,004","21,343","53,350","11,703","7,826","13,986","10,578","11,652","27,713","14,687"
4,5,Population,Population and dwellings,Census Profile 98-316-X2016001,Population Change 2011-2016,4.50%,-3.90%,8.00%,1.30%,4.60%,...,12.90%,3.80%,0.30%,7.20%,0.50%,2.60%,11.70%,7.50%,-0.40%,0.80%

In [53]:
df = toronto_2016_raw_df
df.columns

Index(['_id', 'Category', 'Topic', 'Data Source', 'Characteristic',
       'City of Toronto', 'Agincourt North', 'Agincourt South-Malvern West',
       'Alderwood', 'Annex',
       ...
       'Willowdale West', 'Willowridge-Martingrove-Richview', 'Woburn',
       'Woodbine Corridor', 'Woodbine-Lumsden', 'Wychwood', 'Yonge-Eglinton',
       'Yonge-St.Clair', 'York University Heights', 'Yorkdale-Glen Park'],
      dtype='object', length=146)

In [54]:
df = df.drop(columns=['_id', 'Category','Data Source','Characteristic','Topic','City of Toronto','Topic'])
df

,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,Banbury-Don Mills,Bathurst Manor,Bay Street Corridor,Bayview Village,Bayview Woods-Steeles,Bedford Park-Nortown,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
0,129,128,20,95,42,34,76,52,49,39,...,37,7,137,64,60,94,100,97,27,31
1,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,...,No Designation,No Designation,NIA,No Designation,No Designation,No Designation,No Designation,No Designation,NIA,Emerging Neighbourhood
2,"29,113","23,757","12,054","30,526","27,695","15,873","25,797","21,396","13,154","23,236",...,"16,936","22,156","53,485","12,541","7,865","14,349","11,817","12,528","27,593","14,804"
3,"30,279","21,988","11,904","29,177","26,918","15,434","19,348","17,671","13,530","23,185",...,"15,004","21,343","53,350","11,703","7,826","13,986","10,578","11,652","27,713","14,687"
4,-3.90%,8.00%,1.30%,4.60%,2.90%,2.80%,33.30%,21.10%,-2.80%,0.20%,...,12.90%,3.80%,0.30%,7.20%,0.50%,2.60%,11.70%,7.50%,-0.40%,0.80%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2378,"3,170","3,145",925,"6,390","3,140","2,235","11,780","5,015","2,030","2,265",...,"3,765","2,270","7,260",985,620,"1,350","2,425","2,310","4,965","1,345"
2379,880,980,680,"3,930","1,405",915,"5,250","1,995",830,995,...,"1,545","1,110","1,720",610,395,780,"1,260","1,355","1,700",580
2380,735,760,615,"2,630","1,190",745,"3,275","1,485",720,760,...,"1,070",960,"1,400",350,320,570,970,"1,025","1,490",445
2381,135,220,70,"1,310",220,170,"1,970",510,115,235,...,475,150,335,250,85,210,290,325,195,135
2382,"2,280","2,170",245,"2,460","1,735","1,310","6,545","3,030","1,205","1,270",...,"2,220","1,175","5,540",395,220,575,"1,160",955,"3,285",775

In [7]:
dfT = df.T
dfTi = dfT.iloc[:,0:3]
dfTi

                                0                       1       2
Agincourt North               129          No Designation  29,113
Agincourt South-Malvern West  128          No Designation  23,757
Alderwood                      20          No Designation  12,054
Annex                          95          No Designation  30,526
Banbury-Don Mills              42          No Designation  27,695
...                           ...                     ...     ...
Wychwood                       94          No Designation  14,349
Yonge-Eglinton                100          No Designation  11,817
Yonge-St.Clair                 97          No Designation  12,528
York University Heights        27                     NIA  27,593
Yorkdale-Glen Park             31  Emerging Neighbourhood  14,804

[140 rows x 3 columns]

In [55]:
dfT2 = dfT.iloc[:,9:15]
dfT2

                                  9     10      11     12     13     14
Agincourt North               3,840  3,705  11,305  4,230  6,045    925
Agincourt South-Malvern West  3,075  3,360   9,965  3,265  4,105    555
Alderwood                     1,760  1,235   5,220  1,825  2,015    320
Annex                         2,360  3,750  15,040  3,480  5,910  1,040
Banbury-Don Mills             3,605  2,730  10,810  3,555  6,975  1,640
...                             ...    ...     ...    ...    ...    ...
Wychwood                      1,860  1,320   6,420  1,595  3,150    880
Yonge-Eglinton                1,800  1,225   5,860  1,325  1,600    165
Yonge-St.Clair                1,210    920   5,960  1,540  2,905    470
York University Heights       4,045  4,750  12,290  2,965  3,530    400
Yorkdale-Glen Park            1,960  1,870   5,860  1,810  3,295    775

[140 rows x 6 columns]

In [59]:
dft_merge = dfTi.merge(dfT2,how='outer',left_index=True,right_index=True)
dft_merge

,0,1,2,9,10,11,12,13,14
Agincourt North,129,No Designation,"29,113","3,840","3,705","11,305","4,230","6,045",925
Agincourt South-Malvern West,128,No Designation,"23,757","3,075","3,360","9,965","3,265","4,105",555
Alderwood,20,No Designation,"12,054","1,760","1,235","5,220","1,825","2,015",320
Annex,95,No Designation,"30,526","2,360","3,750","15,040","3,480","5,910","1,040"
Banbury-Don Mills,42,No Designation,"27,695","3,605","2,730","10,810","3,555","6,975","1,640"
...,...,...,...,...,...,...,...,...,...
Wychwood,94,No Designation,"14,349","1,860","1,320","6,420","1,595","3,150",880
Yonge-Eglinton,100,No Designation,"11,817","1,800","1,225","5,860","1,325","1,600",165
Yonge-St.Clair,97,No Designation,"12,528","1,210",920,"5,960","1,540","2,905",470
York University Heights,27,NIA,"27,593","4,045","4,750","12,290","2,965","3,530",400
Yorkdale-Glen Park,31,Emerging Neighbourhood,"14,804","1,960","1,870","5,860","1,810","3,295",775

In [62]:
dft_merge = dft_merge.drop(columns=[1])

dft_merge

KeyError: '[1] not found in axis'

In [66]:
dft_merge.columns =['Neighbourhood ID','Population','Children (0-14 years)','Youth (15-24 years)','Working Age (25-54 years)','Pre-retirement (55-64 years)','Seniors (65+ years)','Older Seniors (85+ years)'] 
dft_merge.reset_index()
dft_merge.rename(columns={"index":"Neighbourhood"})
dft_merge

,Neighbourhood ID,Population,Children (0-14 years),Youth (15-24 years),Working Age (25-54 years),Pre-retirement (55-64 years),Seniors (65+ years),Older Seniors (85+ years)
Agincourt North,129,"29,113","3,840","3,705","11,305","4,230","6,045",925
Agincourt South-Malvern West,128,"23,757","3,075","3,360","9,965","3,265","4,105",555
Alderwood,20,"12,054","1,760","1,235","5,220","1,825","2,015",320
Annex,95,"30,526","2,360","3,750","15,040","3,480","5,910","1,040"
Banbury-Don Mills,42,"27,695","3,605","2,730","10,810","3,555","6,975","1,640"
...,...,...,...,...,...,...,...,...
Wychwood,94,"14,349","1,860","1,320","6,420","1,595","3,150",880
Yonge-Eglinton,100,"11,817","1,800","1,225","5,860","1,325","1,600",165
Yonge-St.Clair,97,"12,528","1,210",920,"5,960","1,540","2,905",470
York University Heights,27,"27,593","4,045","4,750","12,290","2,965","3,530",400
Yorkdale-Glen Park,31,"14,804","1,960","1,870","5,860","1,810","3,295",775