In [1]:
import pandas as pd

In [2]:
toronto_profile_csvpath = "Resources/neighbourhood-profiles-2016-csv.csv"

toronto_2016_raw_df = pd.read_csv(toronto_profile_csvpath)
toronto_2016_raw_df.head(20)

,_id,Category,Topic,Data Source,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
0,1,Neighbourhood Information,Neighbourhood Information,City of Toronto,Neighbourhood Number,NaN,129,128,20,95,...,37,7,137,64,60,94,100,97,27,31
1,2,Neighbourhood Information,Neighbourhood Information,City of Toronto,TSNS2020 Designation,NaN,No Designation,No Designation,No Designation,No Designation,...,No Designation,No Designation,NIA,No Designation,No Designation,No Designation,No Designation,No Designation,NIA,Emerging Neighbourhood
2,3,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2016","2,731,571","29,113","23,757","12,054","30,526",...,"16,936","22,156","53,485","12,541","7,865","14,349","11,817","12,528","27,593","14,804"
3,4,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2011","2,615,060","30,279","21,988","11,904","29,177",...,"15,004","21,343","53,350","11,703","7,826","13,986","10,578","11,652","27,713","14,687"
4,5,Population,Population and dwellings,Census Profile 98-316-X2016001,Population Change 2011-2016,4.50%,-3.90%,8.00%,1.30%,4.60%,...,12.90%,3.80%,0.30%,7.20%,0.50%,2.60%,11.70%,7.50%,-0.40%,0.80%
5,6,Population,Population and dwellings,Census Profile 98-316-X2016001,Total private dwellings,"1,179,057","9,371","8,535","4,732","18,109",...,"8,054","8,721","19,098","5,620","3,604","6,185","6,103","7,475","11,051","5,847"
6,7,Population,Population and dwellings,Census Profile 98-316-X2016001,Private dwellings occupied by usual residents,"1,112,929","9,120","8,136","4,616","15,934",...,"7,549","8,509","18,436","5,454","3,449","5,887","5,676","7,012","10,170","5,344"
7,8,Population,Population and dwellings,Census Profile 98-316-X2016001,Population density per square kilometre,"4,334","3,929","3,034","2,435","10,863",...,"5,820","4,007","4,345","7,838","6,722","8,541","7,162","10,708","2,086","2,451"
8,9,Population,Population and dwellings,Census Profile 98-316-X2016001,Land area in square kilometres,630.2,7.41,7.83,4.95,2.81,...,2.91,5.53,12.31,1.6,1.17,1.68,1.65,1.17,13.23,6.04
9,10,Population,Age characteristics,Census Profile 98-316-X2016001,Children (0-14 years),"398,135","3,840","3,075","1,760","2,360",...,"1,785","3,555","9,625","2,325","1,165","1,860","1,800","1,210","4,045","1,960"
10,11,Population,Age characteristics,Census Profile 98-316-X2016001,Youth (15-24 years),"340,270","3,705","3,360","1,235","3,750",...,"2,230","2,625","7,660","1,035",675,"1,320","1,225",920,"4,750","1,870"
11,12,Population,Age characteristics,Census Profile 98-316-X2016001,Working Age (25-54 years),"1,229,555","11,305","9,965","5,220","15,040",...,"7,480","8,140","21,945","6,165","3,790","6,420","5,860","5,960","12,290","5,860"
12,13,Population,Age characteristics,Census Profile 98-316-X2016001,Pre-retirement (55-64 years),"336,670","4,230","3,265","1,825","3,480",...,"2,070","2,905","6,245","1,625","1,150","1,595","1,325","1,540","2,965","1,810"
13,14,Population,Age characteristics,Census Profile 98-316-X2016001,Seniors (65+ years),"426,945","6,045","4,105","2,015","5,910",...,"3,370","4,905","8,010","1,380","1,095","3,150","1,600","2,905","3,530","3,295"
14,15,Population,Age characteristics,Census Profile 98-316-X2016001,Older Seniors (85+ years),"66,000",925,555,320,"1,040",...,655,885,"1,130",170,125,880,165,470,400,775
15,16,Population,Age characteristics,Census Profile 98-316-X2016001,Male: 0 to 04 years,"69,895",660,575,360,445,...,355,620,1625,460,225,325,300,220,755,320
16,17,Population,Age characteristics,Census Profile 98-316-X2016001,Male: 05 to 09 years,"69,350",695,540,270,365,...,310,625,1705,400,180,350,305,220,685,315
17,18,Population,Age characteristics,Census Profile 98-316-X2016001,Male: 10 to 14 years,"64,945",660,460,225,325,...,265,610,1600,330,180,310,280,195,635,370
18,19,Population,Age characteristics,Census Profile 98-316-X2016001,Male: 15 to 19 years,"74,240",840,780,285,465,...,415,680,1815,275,160,260,255,145,900,485
19,20,Population,Age characteristics,Census Profile 98-316-X2016001,Male: 20 to 24 years,"97,415",1015,1000,355,1215,...,705,705,2310,255,200,385,345,260,1615,500

In [3]:
drop_rows_toronto_2016 = toronto_2016_raw_df.iloc[0:3,:]
drop_columns_toronto_2016 = drop_rows_toronto_2016.drop(columns=['_id','Category','Topic','Data Source','Characteristic','City of Toronto'])

In [4]:
drop_columns_toronto_2016

,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,Banbury-Don Mills,Bathurst Manor,Bay Street Corridor,Bayview Village,Bayview Woods-Steeles,Bedford Park-Nortown,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
0,129,128,20,95,42,34,76,52,49,39,...,37,7,137,64,60,94,100,97,27,31
1,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,...,No Designation,No Designation,NIA,No Designation,No Designation,No Designation,No Designation,No Designation,NIA,Emerging Neighbourhood
2,"29,113","23,757","12,054","30,526","27,695","15,873","25,797","21,396","13,154","23,236",...,"16,936","22,156","53,485","12,541","7,865","14,349","11,817","12,528","27,593","14,804"

In [5]:
toronto_2016_raw = drop_columns_toronto_2016.T

In [6]:
toronto_2016_raw.head()

                                0               1       2
Agincourt North               129  No Designation  29,113
Agincourt South-Malvern West  128  No Designation  23,757
Alderwood                      20  No Designation  12,054
Annex                          95  No Designation  30,526
Banbury-Don Mills              42  No Designation  27,695

In [7]:
toronto_2016_raw = toronto_2016_raw.drop(columns=[1])

In [14]:
toronto_2016 = toronto_2016_raw.reset_index()

In [16]:
toronto_2016.columns = ['Neighbourhood','Neighbourhood ID','Population'] 
toronto_2016

                    Neighbourhood Neighbourhood ID Population
0                 Agincourt North              129     29,113
1    Agincourt South-Malvern West              128     23,757
2                       Alderwood               20     12,054
3                           Annex               95     30,526
4               Banbury-Don Mills               42     27,695
..                            ...              ...        ...
135                      Wychwood               94     14,349
136                Yonge-Eglinton              100     11,817
137                Yonge-St.Clair               97     12,528
138       York University Heights               27     27,593
139            Yorkdale-Glen Park               31     14,804

[140 rows x 3 columns]

In [17]:
toronto_neighbourhood_id_population = toronto_2016.set_index('Neighbourhood ID')

In [18]:
toronto_neighbourhood_id_population.head()

                                 Neighbourhood Population
Neighbourhood ID
129                            Agincourt North     29,113
128               Agincourt South-Malvern West     23,757
20                                   Alderwood     12,054
95                                       Annex     30,526
42                           Banbury-Don Mills     27,695